{% extends 'common/base.html' %}
{% load static %}
{% block content %}


<main class="page landing-page">
    <section class="clean-block clean-hero" style="background-image:url(&quot;/static/images/m1.webp&quot;);color:rgba(231, 241, 248, 0.85);">
        <div class="text">
            <h1>Treating the Effects of Childhood Trauma</h1>
            <!-- <p></p><button class="btn btn-outline-light btn-lg" type="button"></button> -->
        </div>
    </section>
    <section class="clean-block clean-info dark" style="margin-top: 10%;">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-md-6">
                    <img class="img-thumbnail" src="{% static 'images/m16.webp' %}"></div>
                
                <div class="col-md-6">
                    
                    <h3></h3>
                    <div class="getting-started-info">
                        
                        <!-- <h2 class="text-info">Benefits of tracking activities</h2> -->
                <p style="text-align: left; color: black;">An estimated 46% of children experience trauma at some point in their young lives. While kids are resilient, they’re not made of stone. Adults often say things like, "They were so young when that happened, they won’t even remember it as an adult," but childhood trauma can have a lifelong effect.


                    That’s not to say that a child will be emotionally scarred forever if they endure a horrific experience. But it’s important to recognize when a child may need professional help for dealing with their trauma. Early intervention can also prevent the ongoing effects of the trauma into adulthood.</p>
                        <p>Childhood trauma is an event experienced by a child that evokes fear and is commonly violent, dangerous, or life-threatening.4 Also sometimes referred to as adverse childhood experiences or ACEs, there are many different experiences that can lead to trauma.

                            Physical or sexual abuse, for example, can be traumatic for children. One-time events like a car accident, natural disaster (like a hurricane), the loss of a loved one, or a major medical incident can take a psychological toll on children as well.
                            
                            Ongoing stress, such as living in a dangerous neighborhood or being the target of bullying, can also be traumatic for a child—even if it just feels like daily life to an adult.5
                            
                            Childhood trauma doesn’t even have to involve experiences that occur directly to the child. Watching a loved one endure a major health issue, for instance, can be extremely traumatic for children. Violent media can have this effect too.</p>
                            <a href="https://www.verywellmind.com/what-are-the-effects-of-childhood-trauma-4147640">Learn more about childhood trauma and ways to cope from it</a>
                    </div>
                    
                    </div>
            </div>
        </div>
    </section>
   
    
    
</main>


{% endblock %}