{% extends 'common/base.html' %}
{% load static %}
{% block content %}


<main class="page landing-page">
    <section class="clean-block clean-hero" style="background-image:url(&quot;/static/images/m5.webp&quot;);color:rgba(231, 241, 248, 0.85);">
        <div class="text">
            <h1>Depression</h1>
            <!-- <p></p><button class="btn btn-outline-light btn-lg" type="button"></button> -->
        </div>
    </section>
    <section class="clean-block clean-info dark" style="margin-top: 10%;">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-md-6">
                    <img class="img-thumbnail" src="{% static 'images/m17.webp' %}"></div>
                
                <div class="col-md-6">
                    
                    <h3></h3>
                    <div class="getting-started-info">
                        
                        <!-- <h2 class="text-info">Benefits of tracking activities</h2> -->
                <p style="text-align: left; color: black;">Clinically significant depression is marked by persistent sadness, a depressed mood, diminished interest in previously enjoyable activities, and other symptoms that interfere with the ability to function in daily life.

                    The condition often arises from a complex combination of factors that can include genetics, family history, trauma, stress, and illness. It is one of the most common mental disorders, impacting an estimated 7.1% of all adults in the U.S. each year.1﻿
                    
                    Fortunately, effective treatments are available including medications, psychotherapy, or a combination of the two. Self-help strategies can also help people better cope with their symptoms and begin to feel better.</p>
                        <p>Appropriate treatment for depression is essential, but self-help strategies can also help you feel better. Some things that can help you cope with feelings of depression include getting enough sleep, eating a healthy diet, finding social support, and engaging in regular physical activity. While depression can make these things more challenging, tackling one or two tasks each day can help improve your well-being.</p>
                        <a href="https://www.verywellmind.com/depression-4157261">Learn more about depression and ways to cope from it</a>
                    </div>
                    
                    </div>
            </div>
        </div>
    </section>
   
    
    
</main>

{% endblock %}