{% extends 'common/base.html' %}
{% load static %}
{% block content %}

<main class="page landing-page">
    <section class="clean-block clean-hero" style="background-image:url(&quot;/static/images/m7.webp&quot;);color:rgba(231, 241, 248, 0.85);">
        <div class="text">
            <h1>How to take care of your mental health</h1>
            <!-- <p></p><button class="btn btn-outline-light btn-lg" type="button"></button> -->
        </div>
    </section>
    <section class="clean-block clean-info dark" style="margin-top: 10%;">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-md-6">
                    <img class="img-thumbnail" src="{% static 'images/m19.webp' %}"></div>
                
                <div class="col-md-6">
                    
                    <h3></h3>
                    <div class="getting-started-info">
                        
                        <!-- <h2 class="text-info">Benefits of tracking activities</h2> -->
                <p style="text-align: left; color: black;">There can be no denying that the year or so has been incredibly difficult for just about everyone. The stress and worry caused by the COVID-19 pandemic has been amplified for many by the restrictions and loneliness of lockdown. At such times, and as we move forward, it’s more essential than ever to take care of your mental health. 

                    We take a look at why it’s such an important topic, how events such as Mental Health Awareness Week can help, and some proven methods for helping you take care of your own mental health.</p>
                        <p>What is mental health? 
                            Let’s get things started with a mental health definition. The term mental health refers to an individual’s emotional, psychological, and social wellbeing. The World Health Organisation further defines it as “a state of wellbeing in which the individual realises his or her own abilities, can cope with the normal stresses of life, can work productively and fruitfully, and is able to make a contribution to his or her community”.</p>
                            
                        <p>What are mental health issues?
                            So, when we talk about mental health, we’re talking about both internal and external factors that impact an individual and their emotional health and wellbeing. And when we use terms such as ‘mental health issues/disorders/problems’, we’re talking about conditions that affect a person’s mood, way of thinking, and ability to cope. 
                            
                            There is a range of mental health problems that can impact us, and many of these are more common than you might think. A UK-wide study in 2014 found that 1 in 6 people in England reported experiencing a common mental health problem each week. Similarly, data from the US show’s that around 18.1% of the population experience anxiety disorders every year.</p>
                            <a href="https://www.futurelearn.com/info/blog/how-to-take-care-of-your-mental-health">Learn more about the importance of mental health</a>
                    </div>
                    
                    </div>
            </div>
        </div>
    </section>
   
    
    
</main>

{% endblock %}