{% extends 'common/base.html' %}
{% load static %}
{% block content %}

<main class="page landing-page">
    <section class="clean-block clean-hero" style="background-image:url(&quot;/static/images/m8.webp&quot;);color:rgba(231, 241, 248, 0.85);">
        <div class="text">
            <h1>Brain Health</h1>
            <!-- <p></p><button class="btn btn-outline-light btn-lg" type="button"></button> -->
        </div>
    </section>
    <section class="clean-block clean-info dark" style="margin-top: 10%;">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-md-6">
                    <img class="img-thumbnail" src="{% static 'images/m23.webp' %}"></div>
                
                <div class="col-md-6">
                    
                    <h3></h3>
                    <div class="getting-started-info">
                        
                        <!-- <h2 class="text-info">Benefits of tracking activities</h2> -->
                <p style="text-align: left; color: black;">The brain is arguably the most complex organ in the human body and recognized as the body’s command centre, influencing every aspect of life.

                    Brain health is the state of brain functioning across cognitive, sensory, social-emotional, behavioural and motor domains, allowing a person to realize their full potential over the life course, irrespective of the presence or absence of disorders. Numerous interconnected determinants pertaining to physical health, healthy environments, safety and security, learning and social connection as well as access to quality services influence the way our brains develop, adapt and respond to stress and adversity, giving way to strategies for both promotion and prevention across the life course. Optimizing brain health by addressing these determinants not only improves mental and physical health but also creates positive social and economic impacts, all of which contribute to greater well-being and help advance society.</p>
                        <p>However, conditions affecting the brain and nervous system in general emerge throughout the life course and are characterized by disruptions in brain growth, damage to brain structure and/or impaired brain functioning. They may manifest as congenital neurological disorders and neurodevelopmental disorders such as autism spectrum disorder, attention-deficit/hyperactivity disorder and cerebral palsy; epilepsy; headache disorders such as migraine; cerebrovascular diseases such as stroke; neurodegenerative disorders such as dementia and Parkinson disease; neuroinfectious or neuroimmunological disorders such as meningitis, HIV, neurocysticercosis, cerebral malaria and multiple sclerosis; neuromuscular disorders such as peripheral neuropathy, muscular dystrophies and myasthenia gravis; traumatic brain and spinal cord injuries; and cancers of the nervous system.  

                            Health and social care for these conditions require multisectoral and interdisciplinary collaborations with a holistic person-centered approach focused on promotion, prevention, treatment, care and rehabilitation over the lifespan and the active engagement of persons with lived experience, their families and careers.
                            
                             </p>
                    </div>
                    
                    </div>
            </div>
        </div>
    </section>
   
    
    
</main>

{% endblock %}